@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-brown: #68635e;
  --color-brown-light: #ecdccb;
  --color-cream: #f5f1eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0a0a0a; */
/*     --foreground: #ededed; */
/*   } */
/* } */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.chivo-font {
  font-family: var(--font-chivo);
}

.cookie-font {
  font-family: var(--font-cookie);
}

.aref-font {
  font-family: var(--font-aref-ruqa);
}

.playfair-font {
  font-family: var(--font-playfair);
}

.btn-primary {
  @apply px-4 py-2 text-white bg-[#68635E] rounded-md hover:bg-[#4E4A46] cursor-pointer inline-flex items-center justify-center;
}

.btn-white {
  @apply px-4 py-2 text-[#68635E] bg-white rounded-md hover:bg-[#DBCBBA] cursor-pointer inline-flex items-center justify-center;
}

.bg-light {
  @apply bg-[#ECDCCB];
}

.bg-dark {
  @apply bg-[#332F2B];
}

.bg-dark2 {
  @apply bg-[#1F1C1A];
}

.bg-brown {
  @apply bg-[#68635E];
}

.bg-brown-light {
  @apply bg-[#ECDCCB];
}

.bg-cream {
  @apply bg-[#f5f1eb];
}

.text-brown {
  @apply text-[#68635E];
}
